* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  height: 50px;
}
.mainContainer {
  background-color: #1d2d3c !important;
}
.card {
  width: calc((100% / 3) - 20px);
  height: 300px;
}
.container {
  max-width: 1100px;
  margin: auto;
}
.card img {
  height: 300px;
}
