* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  height: 100px;
}
.logo img {
  height: 50px;
  width: 50px;
}
.card {
  width: calc((100% / 3) - 60px);
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 1.5rem;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.card img {
  height: 300px;
}
.card2 {
  margin: auto;
  width: 300px;
  height: 100%;
}
.modColor {
  opacity: 0.8;
}
